<a href="https://colab.research.google.com/github/maxOVF/OVFAcademy/blob/main/Boat_Price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Boat price
#### Here is the script to get the data directly from kaggle through colab

!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle

# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder

# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json

# Datasets available here: 
# https://www.kaggle.com/datasets/artemkorottchenko/large-boatyacht-pricing-dataset
!kaggle datasets download -d artemkorottchenko/large-boatyacht-pricing-dataset
!unzip large-boatyacht-pricing-dataset.zip

#### End of the script to get the data directly from kaggle through colab
# Remember that when you run it, you have to click on the button Choose Files and 
# then select the kaggle.json file from your computer

Saving kaggle.json to kaggle.json
Downloading large-boatyacht-pricing-dataset.zip to /content
  0% 0.00/6.22M [00:00<?, ?B/s]
100% 6.22M/6.22M [00:00<00:00, 91.1MB/s]
Archive:  large-boatyacht-pricing-dataset.zip
  inflating: boat_dataset.csv

# Python as a programming language

In [ ]:
7+3
7-3
7*3
21/2
21//2 # floor division
21%2 # Modulo nufeornfoermi,esr,g
21**2
21**3
21**4

194481

In [ ]:
gg = 2
gg == 2

gg < 2

False

In [ ]:
beautiful_variable = 3
Beautiful_variable = 4
BEAUTIFUL_VARIABLE = 6
BeaUtIfUL_vaRiABLe = 6

In [ ]:
BeaUtIfUL_vaRiABLe == BEAUTIFUL_VARIABLE

True

In [ ]:
# Focus on list

cities = ['Paris', "Zurich", 'Rome', 'Berlin', 'London']

type(cities)

# Python is 0 based
cities[-3]

cities[2] = 'Milan'
print(cities)
cities.insert(2, 'HK')
print(cities)

cities.append('Rio')
print(cities)

cities.insert(-1, 'Nice')
print(cities)

cities.remove('Paris') # Remove function, will remove ONLY the first element to remove
print(cities)

cities.insert(2, 100)
print(cities)

cities.insert(7, '100')
print(cities)

cities.append('Berlin')

print(cities.index("Berlin"))

new_list = [1, 3, 5, 2]
new_list[1] = 33
cities = cities + new_list
print(cities)

['Paris', 'Zurich', 'Milan', 'Berlin', 'London']
['Paris', 'Zurich', 'HK', 'Milan', 'Berlin', 'London']
['Paris', 'Zurich', 'HK', 'Milan', 'Berlin', 'London', 'Rio']
['Paris', 'Zurich', 'HK', 'Milan', 'Berlin', 'London', 'Nice', 'Rio']
['Zurich', 'HK', 'Milan', 'Berlin', 'London', 'Nice', 'Rio']
['Zurich', 'HK', 100, 'Milan', 'Berlin', 'London', 'Nice', 'Rio']
['Zurich', 'HK', 100, 'Milan', 'Berlin', 'London', 'Nice', '100', 'Rio']
4
['Zurich', 'HK', 100, 'Milan', 'Berlin', 'London', 'Nice', '100', 'Rio', 'Berlin', 1, 33, 5, 2]

In [ ]:
new_list = (1,3,4,5)
type(new_list)

tuple

In [ ]:
val = -2

if val > 0:
  print('The value is positive')

elif val <-10:
  print('Very low')

elif val < 0:
  print('The value is negative')

else:
  print('The value equals 0')

The value is negative

In [ ]:
val = 0

if val > 0:
  print('The value is positive')

elif val <-10:
  print('The value is negative')

elif val < 0:
  print('Very low')

In [ ]:
# Logical expressions for if:
# a == b: is a equal to b
# a != b: is a different from b
# a <= b: is a lower or equal than b
# a >= b: is a greater or equal than b
# a < b: is a strictly lower than b
# a > b: is a strictly greater than b
# a is b: is a the same object as b
# condition_a and condition_b: logical AND
# condition_a or condition_b: logical OR
# not: negation

In [ ]:
if 7 not in [0, 1, 2, 3, 4]:
  print('Indeed')

Indeed

In [ ]:
# for loop
fruits = ['apple', 'pear', 'cherry']
for i in fruits:
  print(i)

apple
pear
cherry

In [ ]:
list_of_list = [['a', 'b', 'c'], [1, 2, 3]]


for sub_list in list_of_list:
  print("We treat the list: ", sub_list)
  
  
  for element in sub_list:
    print('We display the element: ', element)

We treat the list:  ['a', 'b', 'c']
We display the element:  a
We display the element:  b
We display the element:  c
We treat the list:  [1, 2, 3]
We display the element:  1
We display the element:  2
We display the element:  3

In [ ]:
# Other kind of loop: while loop

In [ ]:
# Functions

def awesome_guillaume_function_to_calculate_area(a=3, b=None):
  '''
  Function in order to calculae the area of a rectangle

  Parameters:
  a: a represents the length
  b: b is None by default. However, it can takes those values : 'test1', 'test2'
  '''
  my_area = a+b

  return my_area

In [ ]:
area1 = awesome_guillaume_function_to_calculate_area(2, )
area1

TypeError: ignored

In [ ]:
# We will use it in order to delete all the element of a list having a particular value:
last_list = [0, 1, 2, 3, 4, 5, 888, 6, 7, 888, 8, 888, 9] # Let's delete all the 888

valueToBeRemoved = 888
last_list = [element for element in last_list if element != valueToBeRemoved]
last_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Data Manipulation in Python

In [2]:
import pandas as pd
import io
import numpy as np
pd.options.display.max_columns = 100
pd.options.display.max_rows = 50
df = pd.read_csv('/content/boat_dataset.csv', encoding='latin1')

In [3]:
#df.head() # Problem of encoding for some features

In [4]:
df = pd.read_csv(io.StringIO(open('/content/boat_dataset.csv', 'rb').read().decode('utf-8', errors='ignore')), sep=",")
#df.head()

In [5]:
## Add element in the database for EDUCATIONAL PURPOSE ONLY
# Add random date in order to do a proper temporal split
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%d.%m.%Y')
#Here is a function that will automatically create a feature of random dates between a defined interval
def random_datetimes_or_dates(start, end, out_format='datetime', n=10): 

    '''   
    unix timestamp is in ns by default. 
    I divide the unix time value by 10**9 to make it seconds 
    (or 24*60*60*10**9 to make it days).
    The corresponding unit variable is passed to 
    the pd.to_datetime function. 
    Values for the (divide_by, unit) pair to select is defined by 
    the out_format parameter.
    for 1 -> out_format='datetime'
    for 2 -> out_format=anything else
    '''
    (divide_by, unit) = (10**9, 's') if out_format=='datetime' else (24*60*60*10**9, 'D')

    start_u = start.value//divide_by
    end_u = end.value//divide_by

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit=unit)


np.random.seed(893717398)
# Set parameters
d_start = pd.to_datetime('2020-01-01')
d_end = pd.to_datetime('2021-12-31')

# Delete initial Advertisement Date -> if you want to keep the inital dates, don't run it
df.drop(columns=['Advertisement Date'], inplace=True)

# Run function
df['Advertisement Date'] = random_datetimes_or_dates(d_start, d_end, out_format='datetime', n=len(df))

# Keep the date and remove the time
df['Advertisement Date']= df['Advertisement Date'].dt.date

# Parse the date
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%Y-%m-%d')

# Impute Advertissement Date by the the created one when they are missing
#df['Advertisement Date'] = np.where(df['Advertisement Date'].isna(), df['date2'], df['Advertisement Date'])

# Delete the random date created
#df.drop(columns=['date2'], inplace=True)

# Create duplicates
temp = df.sample(n=500, random_state=893717398)
df = df.append(temp)
del(temp)
df.reset_index(drop=True, inplace=True)

df['Advertisement Date'] = df['Advertisement Date'].astype(str)

In [6]:
df.sample(n=5, random_state=893717398)

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
1874,"EUR 100.185,-",Power Boats,Runabout,Yamarin power boats,88 DC,NaN,new boat from stock,2020.0,NaN,8.80 m,2.95 m,0.90 m,2350 kg,NaN,12.0,2.0,4.0,NaN,NaN,NaN,NaN,GRP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » auf Anfrage,142,Condition: new,NaN,NaN,2020-12-02
10635,"EUR 175.000,-",Power Boats,Runabout,Boesch power boats,750 Portofino de Luxe,NaN,"Used boat,Unleaded",2003.0,very good,7.80 m,2.50 m,0.65 m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wood,NaN,NaN,Inboard with Shaft,Mercruiser,2 x 272 HP / 200 kW,NaN,Unleaded,NaN,NaN,NaN,Austria » Wörthersee » Boote Schmalzl,139,Perfekt serviciertes Boesch 750 Portofino de L...,NaN,NaN,2020-10-05
4724,"EUR 339.000,-",Power Boats,Hardtop,Cranchi power boats,M44HT,NaN,"Used boat,Diesel",2014.0,very good,13.82 m,4.06 m,0.96 m,10'900 kg,NaN,12.0,3.0,2.0,NaN,NaN,2.0,NaN,GRP,300 l,NaN,Inboard with Shaft,Volvo Penta 2xD6 EVC/E/DPH (2x330 HP) (2x243kW),2 x 330 HP / 243 kW,NaN,Diesel,NaN,NaN,NaN,"France » Frejus, Frankreich (Côte d’Azur)",206,NaN,"The boat is in top condition, little driven, a...","Anchor,Battery,Battery Charger,Board Computer,...",2021-12-27
4335,"EUR 480.000,-",Power Boats,Motor Yacht,Azimut power boats,55,NaN,Used boat,2009.0,good,17.00 m,4.75 m,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2x Caterpillar, 2x710",NaN,NaN,NaN,NaN,NaN,NaN,Croatia (Hrvatska) » Croatia,57,"Year: 2009,Length: ...",NaN,NaN,2020-12-27
6087,"EUR 145.000,-",Power Boats,Trawler,Bénéteau power boats,SWIFT TRAWLER 42,NaN,"Used boat,Diesel",2004.0,NaN,13.60 m,4.17 m,1.15 m,NaN,NaN,NaN,2.0,6.0,NaN,NaN,NaN,NaN,PVC,NaN,NaN,NaN,YANMAR,2 x 370 HP / 272 kW,NaN,Diesel,NaN,NaN,NaN,"France » Deauville, France",118,NaN,NaN,NaN,2021-08-25

In [7]:
df.shape # Provides the dimensions of the database

(10844, 38)

In [8]:
df.dtypes # Display the type of each features

Price                           object
Category                        object
Boat Type                       object
Manufacturer                    object
Model                           object
Boat name                       object
Type                            object
Year Built                     float64
Condition                       object
Length                          object
Width                           object
Depth                           object
Displacement                    object
CE Design Category              object
Cert Number of People          float64
Number of Cabins               float64
Number of beds                 float64
Hull Color                      object
Number of Toilets              float64
Number of Bathrooms            float64
Number of Showers              float64
Material                        object
Fresh Water Cap                 object
Holding Tank                    object
Propulsion                      object
Engine                          object
Engine Performance              object
Fuel Capacity                   object
Fuel Type                       object
Engine Hours                    object
Max Speed                       object
Cruising Speed                  object
Location                        object
Number of views last 7 days     object
Comments                        object
Additional Comments             object
Equipment                       object
Advertisement Date              object
dtype: object

In [9]:
df.describe() # To have some descriptive statistics

,Year Built,Cert Number of People,Number of Cabins,Number of beds,Number of Toilets,Number of Bathrooms,Number of Showers
count,10252.000000,3773.000000,6807.000000,6726.000000,2257.000000,484.000000,2040.000000
mean,2004.831155,9.338723,2.145585,4.339578,1.756314,1.295455,1.550490
std,16.330310,23.478952,2.102946,3.902195,2.038631,0.654258,0.925578
min,1885.000000,1.000000,-1.000000,-23.000000,1.000000,1.000000,1.000000
25%,1999.000000,7.000000,1.000000,2.000000,1.000000,1.000000,1.000000
50%,2008.000000,8.000000,2.000000,4.000000,1.000000,1.000000,1.000000
75%,2017.000000,10.000000,3.000000,6.000000,2.000000,1.000000,2.000000
max,2021.000000,1200.000000,96.000000,266.000000,84.000000,6.000000,10.000000

In [10]:
df.info() # Same as dtypes + more information such as the number of non missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10844 entries, 0 to 10843
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        10844 non-null  object
 1   Category                     10844 non-null  object
 2   Boat Type                    10844 non-null  object
 3   Manufacturer                 9393 non-null   object
 4   Model                        10841 non-null  object
 5   Boat name                    1370 non-null   object
 6   Type                         10839 non-null  object
 7   Year Built                   10252 non-null  float64
 8   Condition                    3540 non-null   object
 9   Length                       10834 non-null  object
 10  Width                        10779 non-null  object
 11  Depth                        7575 non-null   object
 12  Displacement                 5298 non-null   object
 13  CE Design Category           828 non-null    object
 14  Cert Number of People        3773 non-null   float64
 15  Number of Cabins             6807 non-null   float64
 16  Number of beds               6726 non-null   float64
 17  Hull Color                   3472 non-null   object
 18  Number of Toilets            2257 non-null   float64
 19  Number of Bathrooms          484 non-null    float64
 20  Number of Showers            2040 non-null   float64
 21  Material                     8902 non-null   object
 22  Fresh Water Cap              2222 non-null   object
 23  Holding Tank                 861 non-null    object
 24  Propulsion                   3433 non-null   object
 25  Engine                       10007 non-null  object
 26  Engine Performance           8455 non-null   object
 27  Fuel Capacity                7137 non-null   object
 28  Fuel Type                    8409 non-null   object
 29  Engine Hours                 5396 non-null   object
 30  Max Speed                    930 non-null    object
 31  Cruising Speed               567 non-null    object
 32  Location                     10800 non-null  object
 33  Number of views last 7 days  10457 non-null  object
 34  Comments                     7437 non-null   object
 35  Additional Comments          2553 non-null   object
 36  Equipment                    6481 non-null   object
 37  Advertisement Date           10844 non-null  object
dtypes: float64(7), object(31)
memory usage: 3.1+ MB

In [11]:
len(df)

10844

In [12]:
df['Fuel Type'].unique()

array([nan, 'Unleaded', 'Electric', 'Diesel', 'Gas', 'Hybrid', 'Propane'],
      dtype=object)

In [13]:
### Now let's do some data manipulation
# Select a column:
df['Year Built'].head(2) # If you select 1 feature: dataframe['name_feature']
# Select multiple columns
df[['Year Built', 'Model']].head(2) 
# If you select 2 or more features: dataframe[['feature1', 'feature2']]

   Year Built    Model
0      2017.0  CAP 400
1      2020.0    400 C

In [14]:
# Now, let's do some filters -> select lines from a condition
mask1 = df['Year Built'] >2000 # As we saw in the Python basics part, df['Year Built'] >2000
# refers to a question, does the value (here, each line) is >2000 ; True or False
# You can display mask1 to see how it is composed, you will see it is a list of boolean.
df[mask1].min() # Then, we integreate the list of boulean in: dataframe[list_boolean]
# The output is only composed by values >2000 that we can check with the .min() function.

# You are not obliged to create a mask, you can directly write the condition within:
df[df['Year Built'] >2000]

# You can check that indeed the output are exactly the same:
df[mask1] == df[df['Year Built'] >2000]

# If you want to select a part of the population between 2 values:
mask2 = df['Year Built'].between(2001,2005)
# https://pandas.pydata.org/docs/reference/api/pandas.Series.between.html

df[mask2].min()
df[mask2]['Year Built'].min()
df[mask2][['Year Built', 'Model']].min()

# If you want to do several conditions, the '&' means 'and' ; the '|' means 'or'

# Here I want the Year Built <= 2001 or >= 2011 , and sulphates < 0.7301
mask3 = (((df['Year Built'] >= 2011) | (df['Year Built'] <= 2001)) & (df['Number of Cabins'] <= 2))
df[mask3].describe()

# Keep in mind, you have to associate line of script to a variable/object however it
# is not saved in memory
len(df)
df2 = df[mask3]
len(df2)
del(df2)

# When you do a mask, it is not only on numerical features but as well on categoricals:
mask5 = (((df['Year Built'] >= 2011) | (df['Year Built'] <= 2001)) & (df['Number of Cabins'] <= 2) & (df['Fuel Type']=='Diesel'))
df[mask5]
# On this example, I want to focus only on the category Diesel so it is quick to write.
# However it is not always the case and you can filter through a list:

list_cat_to_keep = ['Diesel', 'Electric']
mask6 = (((df['Year Built'] >= 2011) | (df['Year Built'] <= 2001)) & (df['Number of Cabins'] <= 2) & (df['Fuel Type'].isin(list_cat_to_keep)))
df[mask6]
# dataframe['feature'].isin(list_specified) creates the list (the pandas Series to be precise) of boolean

# To finish, you would like to have all the element of a feature except those that you specify in a list.
# Let's say, you want to analyse all the Fuel Type that are not in the list (here the cat=['Diesel', 'Electric'])
# You can use: ~dataframe['feature'].isin(list_specified) // The '~' means not isin:
mask7 = (((df['Year Built'] >= 2011) | (df['Year Built'] <= 2001)) & (df['Number of Cabins'] <= 2) & (~df['Fuel Type'].isin(list_cat_to_keep)))
df[mask7] #As you see, you only have the category 'B' of citric_cat.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
22,"EUR 4.000,-",Power Boats,Cabin Boat,NaN,Backdecker,NaN,"Used boat,Unleaded",2011.0,good,6.37 m,2.31 m,0.45 m,800 kg,NaN,3.0,2.0,3.0,NaN,NaN,1.0,NaN,GRP,NaN,NaN,"Outboard, four-stroke",Mercury,1 x 5 HP / 3.7 kW,54 l,Unleaded,9 h,NaN,NaN,Germany » Bayern » Forchheim/Ofr.,330,NaN,NaN,Swim Ladder,2020-03-15
40,"CHF 3.800,-",Power Boats,Cabin Boat,Draco power boats,2100,NaN,"Used boat,Unleaded",1980.0,well-groomed,6.20 m,2.45 m,0.60 m,1'450 kg,NaN,7.0,1.0,1.0,NaN,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,Mercruiser/MCM 470,1 x 170 HP / 125 kW,NaN,Unleaded,1130 h,NaN,NaN,Switzerland » Walensee » Walenstadt,1'804,NaN,-Allround boat for the whole family in good co...,"Anchor,Battery,Bilge Pump,Bilge pump,Bimini To...",2020-01-18
41,"CHF 3.800,-",Power Boats,Fishing Boat,Hensa power boats,De Luxe Combi,NaN,"Used boat,Unleaded",1974.0,well-groomed,5.40 m,1.67 m,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN,NaN,NaN,Plastic,NaN,NaN,"Outboard, four-stroke",Suzuki DF6AL,1 x 6 HP / 4.4 kW,12 l,Unleaded,3 h,NaN,NaN,Switzerland » Sihlsee,849,NaN,"Motorboat:,Hensa De Luxe Combi born 1974,Lengt...",Anchor,2020-03-20
67,"CHF 7.000,-",Power Boats,Sport Boat,Nuova power boats,Fiberglass / Winner 18,NaN,"Used boat,Unleaded",1986.0,good,6.02 m,2.37 m,NaN,NaN,C - Inshore,6.0,1.0,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,Mercruiser,1 x 205 HP / 151 kW,100 l,Unleaded,705 h,NaN,NaN,Switzerland » Bielersee » Kleinboothafen Biel,NaN,NaN,NaN,"Anchor,Battery,Bilge Pump,Compass,Fire Extingu...",2021-12-16
76,"CHF 7.000,-",Power Boats,Cabin Boat,Fjord power boats,Weekender 24,NaN,"Used boat,Unleaded",1980.0,to be done up,7.26 m,2.90 m,1.00 m,2'800 kg,D - Sheltered waters,8.0,1.0,2.0,NaN,NaN,1.0,NaN,GRP,NaN,NaN,Sterndrive,Volvo Penta 260A,1 x 260 HP / 191 kW,250 l,Unleaded,1593 h,NaN,NaN,Switzerland » Lake Geneva » Roche,866,NaN,"Boat in good condition, engine at end of life....","Anchor,Battery,Battery Charger,Bilge Pump,Cock...",2021-03-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10795,"EUR 120.000,-",Power Boats,Motor Yacht,Princess power boats,40,NaN,Used boat,1998.0,NaN,12.35 m,3.90 m,NaN,NaN,NaN,NaN,2.0,4.0,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,Volvo,NaN,NaN,NaN,NaN,NaN,NaN,France » PACA,135,"PRINCESS 40 Fly bridge 40 from 1998 2 cabins, ...",NaN,NaN,2020-10-24
10797,"CHF 25.500,-",Power Boats,Sport Boat,Regal power boats,1950 LSC,NaN,"Used boat,Unleaded",2001.0,well-groomed,5.78 m,2.50 m,NaN,NaN,NaN,6.0,1.0,2.0,NaN,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,Volvo Penta 4.3,1 x 220 HP / 162 kW,65 l,Unleaded,500 h,NaN,NaN,Switzerland » Lake of Zurich » Pfäffikon,483,NaN,"freshly presented,lots of accessories, new ful...","Anchor,Battery,Bilge Pump,Bilge pump,Bimini To...",2021-05-22
10800,"CHF 249.000,-",Power Boats,Sport Boat,Windy power boats,27 Solano,NaN,"new boat from stock,Unleaded",2019.0,NaN,8.24 m,2.60 m,0.80 m,NaN,NaN,7.0,1.0,2.0,white white,NaN,NaN,NaN,NaN,80 l,80 l,Sterndrive,Volvo Penta V 8 430 CE,1 x 430 HP / 316 kW,370 l,Unleaded,NaN,NaN,NaN,Switzerland » Lago Maggiore » Riazzino / Locarno,245,NaN,NaN,"Battery,Battery Charger,Bilge pump,Bimini Top,...",2021-03-07
10825,"CHF 9.900,-",Power Boats,Sport Boat,Sunseeker power boats,Powerboats,NaN,"Used boat,Unleaded",1980.0,good,6.90 m,2.45 m,NaN,NaN,NaN,7.0,1.0,NaN,white BRAUN,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,Mercruiser MCM 470 (Permission for Lake of Con...,2 x 190 HP / 140 kW,NaN,Unleaded,NaN,NaN,NaN,Switzerland » Faoug,565,NaN,BODENSEE APPROVAL - Very good quality Sunseeke...,NaN,2020-05-04
10826,"CHF 29.900,-",Power Boats,Offshore Boat,Seebold power boats,265 SILVER EAGLE,NaN,"Used boat,Unleaded",1992.0,very good,7.75 m,2.48 m,NaN,2400 kg,NaN,6.0,1.0,NaN,white white,1.0,NaN,1.0,GRP,NaN,NaN,Sterndrive,Mercruiser (Permission for Lake of Constance),1 x 420 HP / 309 kW,NaN,Unleaded,NaN,110 km/h,70 km/h,Switzerland » Faoug,359,NaN,Seebold is a USA Top Speed Power Boot. It is a...,NaN,2020-07-04

In [15]:
# One of the most useful function in order to do some counts: value_counts()
df['Fuel Type'].value_counts()
df['Fuel Type'].value_counts(dropna=False)
df['Fuel Type'].value_counts(True)
np.round(df['Fuel Type'].value_counts(True, dropna=False)*100, 2)

Diesel      46.00
Unleaded    30.83
NaN         22.45
Electric     0.53
Gas          0.16
Hybrid       0.02
Propane      0.01
Name: Fuel Type, dtype: float64

# Data cleaning

In [16]:
import pandas as pd
import io
import numpy as np
pd.options.display.max_columns = 100
pd.options.display.max_rows = 50
df = pd.read_csv('/content/boat_dataset.csv', encoding='latin1')

df = pd.read_csv(io.StringIO(open('/content/boat_dataset.csv', 'rb').read().decode('utf-8', errors='ignore')), sep=",")
#df.head()

## Add element in the database for EDUCATIONAL PURPOSE ONLY
# Add random date in order to do a proper temporal split
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%d.%m.%Y')
#Here is a function that will automatically create a feature of random dates between a defined interval
def random_datetimes_or_dates(start, end, out_format='datetime', n=10): 

    '''   
    unix timestamp is in ns by default. 
    I divide the unix time value by 10**9 to make it seconds 
    (or 24*60*60*10**9 to make it days).
    The corresponding unit variable is passed to 
    the pd.to_datetime function. 
    Values for the (divide_by, unit) pair to select is defined by 
    the out_format parameter.
    for 1 -> out_format='datetime'
    for 2 -> out_format=anything else
    '''
    (divide_by, unit) = (10**9, 's') if out_format=='datetime' else (24*60*60*10**9, 'D')

    start_u = start.value//divide_by
    end_u = end.value//divide_by

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit=unit)


np.random.seed(893717398)
# Set parameters
d_start = pd.to_datetime('2020-01-01')
d_end = pd.to_datetime('2021-12-31')

# Delete initial Advertisement Date -> if you want to keep the inital dates, don't run it
df.drop(columns=['Advertisement Date'], inplace=True)

# Run function
df['Advertisement Date'] = random_datetimes_or_dates(d_start, d_end, out_format='datetime', n=len(df))

# Keep the date and remove the time
df['Advertisement Date']= df['Advertisement Date'].dt.date

# Parse the date
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%Y-%m-%d')

# Impute Advertissement Date by the the created one when they are missing
#df['Advertisement Date'] = np.where(df['Advertisement Date'].isna(), df['date2'], df['Advertisement Date'])

# Delete the random date created
#df.drop(columns=['date2'], inplace=True)

# Create duplicates
temp = df.sample(n=500, random_state=893717398)
df = df.append(temp)
del(temp)
df.reset_index(drop=True, inplace=True)

df['Advertisement Date'] = df['Advertisement Date'].astype(str)

In [17]:
# Need to parse the date
# For the moment, python understand Advertisement Date as a chain of characters
# You need to tell him that this is a Date
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format="%Y-%m-%d")

In [18]:
df['Advertisement Date'].head()

0   2021-08-11
1   2020-08-19
2   2021-01-06
3   2020-08-01
4   2021-05-05
Name: Advertisement Date, dtype: datetime64[ns]

In [19]:
df['Length'].unique()
df['Engine Hours'].unique()
df['Fresh Water Cap'].unique()

array([nan, '70 l', '205 l', '100 l', '40 l', '60 l', '80 l', '50 l',
       '250 l', '200 l', '160 l', '35 l', '150 l', '75 l', '180 l',
       '30 l', '280 l', '43 l', '120 l', '340 l', '45 l', '38 l', '300 l',
       '20 l', '130 l', '108 l', '114 l', '400 l', '65 l', '500 l',
       '55 l', '133 l', '600 l', '700 l', '90 l', '47 l', '37 l', '800 l',
       '32 l', '78 l', '125 l', '380 l', '165 l', '1100 l', '42 l',
       '56 l', '110 l', '350 l', '76 l', '1000 l', '290 l', '450 l',
       '240 l', '900 l', '220 l', '68 l', '155 l', '1200 l', '82 l',
       '113 l', '225 l', '170 l', '188 l', '520 l', '135 l', '330 l',
       '325 l', '190 l', '74 l', '576 l', '98 l', '106 l', '389 l',
       '2000 l', '227 l', '430 l', '650 l', '215 l', '333 l', '1400 l',
       '588 l', '73 l', '378 l', '370 l', '1025 l', '470 l', '750 l',
       '640 l', '1300 l', '425 l', '212 l', '720 l', '320 l', '107 l',
       '550 l', '375 l', '285 l', '560 l', '270 l', '436 l', '360 l',
       '1800 l', '651 l', '499 l', '185 l', '568 l', '315 l', '3000 l',
       '572 l', '455 l', '420 l', '454 l', '332 l', '379 l', '810 l',
       '52 l', '2400 l', '1600 l', '484 l', '950 l', '1150 l', '189 l',
       '121 l', '530 l', '3600 l', '1514 l', '850 l', '230 l', '660 l',
       '1 l', '1250 l', '412 l', '592 l', '625 l', '390 l', '318 l',
       '780 l', '363 l', '920 l', '322 l', '440 l', '364 l', '3182 l',
       '910 l', '5000 l', '1500 l', '766 l', '836 l', '775 l', '608 l',
       '590 l', '960 l', '408 l', '4000 l', '410 l', '1298 l', '710 l',
       '816 l', '598 l', '416 l', '1110 l', '793 l', '1140 l', '909 l',
       '2500 l', '1332 l', '4663 l', '3993 l', '4950 l', '117 l',
       '8980 l', '3800 l', '1750 l', '3900 l', '10000 l', '1614 l',
       '10260 l', '2460 l', '1700 l', '1401 l', '1320 l', '990 l',
       '50000 l', '1499 l', '1450 l', '603 l', '4300 l', '773 l',
       '1342 l', '1381 l', '2270 l', '813 l', '317 l', '540 l', '980 l',
       '3500 l', '1574 l', '305 l', '928 l', '1182 l', '636 l', '732 l',
       '1135 l', '719 l', '460 l', '770 l', '1844 l', '438 l', '1037 l',
       '860 l', '480 l', '328 l', '820 l', '795 l', '659 l', '3637 l',
       '1003 l', '1195 l', '835 l', '546 l', '630 l', '862 l', '727 l',
       '523 l', '260 l', '755 l', '757 l', '1272 l', '349 l', '595 l',
       '740 l', '478 l', '393 l', '620 l', '935 l', '394 l', '295 l',
       '132 l', '175 l', '555 l', '1136 l', '265 l', '401 l', '558 l',
       '34 l', '88 l', '680 l', '570 l', '302 l', '445 l', '6000 l',
       '303 l', '277 l', '25 l', '358 l', '490 l', '84 l', '72 l', '57 l',
       '258 l', '159 l', '628 l', '151 l', '64 l', '210 l', '8 l',
       '337 l', '48 l', '59 l', '254 l', '273 l', '152 l', '54 l',
       '310 l', '140 l', '610 l', '486 l', '105 l', '204 l', '136 l',
       '224 l', '102 l', '21 l', '196 l', '145 l', '345 l', '10 l',
       '15 l'], dtype=object)

In [20]:
# Delete the chain ' m'
df['Length'] = df['Length'].str.rstrip(' m')

# Convert Series in numeric
df['Length'] = pd.to_numeric(df['Length'])

df['Length'].head()

0    4.00
1    4.00
2    3.69
3    3.00
4    6.30
Name: Length, dtype: float64

In [21]:
def format_series(series, char):
    
    new_series = series.str.rstrip(char)
    new_series = pd.to_numeric(new_series)
    
    return new_series

In [22]:
for col in ['Width', 'Depth']:
    df[col] = format_series(df[col], ' m')

df["Engine Hours"] = format_series(df["Engine Hours"], ' h')

for col in ['Fresh Water Cap', 'Holding Tank', 'Fuel Capacity']:
    df[col] = format_series(df[col], ' l')
    
df[['Length', 'Width', 'Depth']].head()

df = df.rename(columns={'Length':'Length (m)', 'Width':'Width (m)', 'Depth':'Depth (m)',
                        'Fresh Water Cap':'Fresh Water Cap (l)', 'Holding Tank':'Holding Tank (l)', 'Fuel Capacity':'Fuel Capacity (l)'})

In [23]:
# Let's see if we have constant features
col_object_l = df.select_dtypes(include='object').columns # Stock les colonnes

for col in col_object_l:
    print(f"Column {col} has {df[col].nunique()} categories\n")

Column Price has 3283 categories

Column Category has 1 categories

Column Boat Type has 135 categories

Column Manufacturer has 932 categories

Column Model has 7458 categories

Column Boat name has 1258 categories

Column Type has 36 categories

Column Condition has 10 categories

Column Displacement has 1380 categories

Column CE Design Category has 4 categories

Column Hull Color has 377 categories

Column Material has 11 categories

Column Propulsion has 8 categories

Column Engine has 4752 categories

Column Engine Performance has 843 categories

Column Fuel Type has 6 categories

Column Max Speed has 99 categories

Column Cruising Speed has 57 categories

Column Location has 3177 categories

Column Number of views last 7 days has 680 categories

Column Comments has 6631 categories

Column Additional Comments has 2410 categories

Column Equipment has 5301 categories

In [24]:
df = df.drop(columns='Category') # Category has just one category

In [25]:
# Let's delete the features that we can't use:
list_col_to_delete_part1 = ["Displacement", "Number of views last 7 days", "Comments", "Additional Comments"]

df.drop(columns = list_col_to_delete_part1, inplace = True)

In [26]:
# Now let's split the data in 2 parts for the moment:
# train_val & test
# Split will be done on a temporal basis
df.set_index(['Advertisement Date']).resample('M').size()

Advertisement Date
2020-01-31    442
2020-02-29    463
2020-03-31    447
2020-04-30    426
2020-05-31    478
2020-06-30    422
2020-07-31    468
2020-08-31    500
2020-09-30    464
2020-10-31    433
2020-11-30    415
2020-12-31    470
2021-01-31    463
2021-02-28    407
2021-03-31    475
2021-04-30    456
2021-05-31    484
2021-06-30    434
2021-07-31    443
2021-08-31    431
2021-09-30    428
2021-10-31    517
2021-11-30    437
2021-12-31    441
Freq: M, dtype: int64

In [27]:
# Let's have Train & Validation for the data of 2020 and Test for the data of 2021
train_val = df[df['Advertisement Date'] < '2021-01-01'].reset_index(drop=True)

# Création du test
test = df[df['Advertisement Date'] >= '2021-01-01'].reset_index(drop=True)

The fundamental hypothesis for every predictive modeling is the independancy all the observations. However, algorithms will put a highest weight / importance to the some observation.

First step is to identify the duplicates.

When all the features have the same values for several observations, it is what I call 'true duplicates'. To treat them, we can keep the fist value.

In [28]:
train_val.duplicated(keep=False)

0       False
1       False
2       False
3       False
4       False
        ...
5423     True
5424     True
5425     True
5426     True
5427     True
Length: 5428, dtype: bool

In [29]:
print(f'The database has {train_val[train_val.duplicated(keep=False)].shape[0]} true duplicates')

The database has 488 true duplicates

In [30]:
train_val[train_val.duplicated(keep=False)].sort_values(by='Model')[:10]

,Price,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length (m),Width (m),Depth (m),CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap (l),Holding Tank (l),Propulsion,Engine,Engine Performance,Fuel Capacity (l),Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Equipment,Advertisement Date
4746,"EUR 25.000,-",Motor Yacht,Altena power boats,10,Mulmeli,Used boat,1972.0,NaN,10.00,3.20,1.10,NaN,NaN,NaN,2.0,White,NaN,NaN,NaN,Steel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Netherlands » onbekend,NaN,2020-08-17
5241,"EUR 25.000,-",Motor Yacht,Altena power boats,10,Mulmeli,Used boat,1972.0,NaN,10.00,3.20,1.10,NaN,NaN,NaN,2.0,White,NaN,NaN,NaN,Steel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Netherlands » onbekend,NaN,2020-08-17
5246,"EUR 229.000,-",Trawler,Altena power boats,126 Family,Aventura,"Used boat,Diesel",2012.0,NaN,12.66,3.95,1.27,NaN,NaN,NaN,3.0,Beige,NaN,NaN,NaN,Steel,NaN,NaN,NaN,Vetus Deutz DTA44,1 x 1 HP / 0.7 kW,1490.0,Diesel,475.0,NaN,NaN,Netherlands » In verkoophaven,"Air Conditioning,Anchor,Autopilot,Battery,Batt...",2020-04-01
2643,"EUR 229.000,-",Trawler,Altena power boats,126 Family,Aventura,"Used boat,Diesel",2012.0,NaN,12.66,3.95,1.27,NaN,NaN,NaN,3.0,Beige,NaN,NaN,NaN,Steel,NaN,NaN,NaN,Vetus Deutz DTA44,1 x 1 HP / 0.7 kW,1490.0,Diesel,475.0,NaN,NaN,Netherlands » In verkoophaven,"Air Conditioning,Anchor,Autopilot,Battery,Batt...",2020-04-01
2203,"EUR 440.000,-","Cabin Boat,Motor Yacht,Offshore Boat",Performance power boats,1307,NaN,", ,, ,Used boat,Unleaded",2013.0,very good,13.33,3.40,1.00,NaN,12.0,2.0,6.0,NaN,NaN,2.0,NaN,GRP,230.0,NaN,Sterndrive,Mercruiser,3 x 430 HP / 316 kW,1300.0,Unleaded,330.0,NaN,NaN,Italy » Lake Garda » Gardasee,"Air Conditioning,Anchor,Autopilot,Battery,Batt...",2020-09-18
5301,"EUR 440.000,-","Cabin Boat,Motor Yacht,Offshore Boat",Performance power boats,1307,NaN,", ,, ,Used boat,Unleaded",2013.0,very good,13.33,3.40,1.00,NaN,12.0,2.0,6.0,NaN,NaN,2.0,NaN,GRP,230.0,NaN,Sterndrive,Mercruiser,3 x 430 HP / 316 kW,1300.0,Unleaded,330.0,NaN,NaN,Italy » Lake Garda » Gardasee,"Air Conditioning,Anchor,Autopilot,Battery,Batt...",2020-09-18
5372,"CHF 34.150,-",Bowrider,AMT power boats,175 BR,NaN,new boat from stock,2019.0,as new,5.15,2.08,0.60,NaN,6.0,NaN,NaN,white white,NaN,NaN,NaN,GRP,NaN,NaN,NaN,(Permission for Lake of Constance),NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Vierwaldstättersee » Beckenried,"Anchor,Battery,Bimini Top,Compass,Depth Instru...",2020-01-28
4581,"CHF 34.150,-",Bowrider,AMT power boats,175 BR,NaN,new boat from stock,2019.0,as new,5.15,2.08,0.60,NaN,6.0,NaN,NaN,white white,NaN,NaN,NaN,GRP,NaN,NaN,NaN,(Permission for Lake of Constance),NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Vierwaldstättersee » Beckenried,"Anchor,Battery,Bimini Top,Compass,Depth Instru...",2020-01-28
5305,"EUR 69.000,-","Classic,Motor Yacht",Spertini power boats,18 m,NaN,", ,Used boat,Diesel",1977.0,used,18.00,5.35,1.30,A - Ocean,10.0,3.0,6.0,white white,2.0,NaN,2.0,Wood,400.0,NaN,Inboard with Shaft,GM V 12,NaN,1800.0,Diesel,NaN,NaN,NaN,Spain » Mallorca » Palma,NaN,2020-08-11
3783,"EUR 69.000,-","Classic,Motor Yacht",Spertini power boats,18 m,NaN,", ,Used boat,Diesel",1977.0,used,18.00,5.35,1.30,A - Ocean,10.0,3.0,6.0,white white,2.0,NaN,2.0,Wood,400.0,NaN,Inboard with Shaft,GM V 12,NaN,1800.0,Diesel,NaN,NaN,NaN,Spain » Mallorca » Palma,NaN,2020-08-11

In [31]:
train_val = train_val.drop_duplicates(keep='first')

Now let's identify the false duplicates.
In general we have a unique ID for a client, given that it is not the case in this databse, we will consider that an observation is unique if the observation are the same for those 5 features: ['Model', 'Type', 'Year Built','Location', 'Equipment']

In [32]:
# 5 features to represents a unique boat.
features_analyze_duplicates = ['Model', 'Type', 'Year Built','Location', 'Equipment']

# sort the features for a better display of the false duplicates
cols_sort = features_analyze_duplicates + [col for col in train_val.columns if col not in features_analyze_duplicates]

# false duplicates
train_val[train_val.duplicated(subset = features_analyze_duplicates, keep=False)][cols_sort].sort_values(by='Model')[:10]

,Model,Type,Year Built,Location,Equipment,Price,Boat Type,Manufacturer,Boat name,Condition,Length (m),Width (m),Depth (m),CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap (l),Holding Tank (l),Propulsion,Engine,Engine Performance,Fuel Capacity (l),Fuel Type,Engine Hours,Max Speed,Cruising Speed,Advertisement Date
687,210,"new boat from stock,Unleaded",2020.0,Germany » Berlin » Sea Ray Berlin,NaN,"EUR 63.380,-",Bowrider,Sea Ray power boats,Wakeboard,NaN,6.55,2.54,0.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 x 250 HP / 184 kW,1 x 250 HP / 184 kW,NaN,Unleaded,NaN,NaN,NaN,2020-08-19
686,210,"new boat from stock,Unleaded",2020.0,Germany » Berlin » Sea Ray Berlin,NaN,"EUR 63.380,-",Bowrider,Sea Ray power boats,Wakeboard,NaN,6.55,2.54,0.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 x 250 HP / 184 kW,1 x 250 HP / 184 kW,NaN,Unleaded,NaN,NaN,NaN,2020-01-06
667,210,"new boat from stock,Unleaded",2020.0,Germany » Berlin » Sea Ray Berlin,NaN,"EUR 60.040,-",Bowrider,Sea Ray power boats,NaN,NaN,6.55,2.54,0.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,NaN,1 x 250 HP / 184 kW,1 x 250 HP / 184 kW,NaN,Unleaded,NaN,NaN,NaN,2020-10-11
666,210,"new boat from stock,Unleaded",2020.0,Germany » Berlin » Sea Ray Berlin,NaN,"EUR 60.040,-",Bowrider,Sea Ray power boats,NaN,NaN,6.55,2.54,0.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,NaN,1 x 250 HP / 184 kW,1 x 250 HP / 184 kW,NaN,Unleaded,NaN,NaN,NaN,2020-04-14
3717,29 Ft. OC,Used boat,2001.0,Netherlands » In verkoophaven,NaN,"EUR 72.500,-",Classic,Rapsody power boats,Skoet,NaN,8.74,2.45,0.65,NaN,10.0,NaN,2.0,Brown,NaN,NaN,NaN,Wood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-09-25
775,29 Ft. OC,Used boat,2001.0,Netherlands » In verkoophaven,NaN,"EUR 74.500,-",Classic,Rapsody power boats,Viskus,NaN,8.74,2.45,0.65,NaN,10.0,NaN,NaN,Beige,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.0,NaN,NaN,NaN,NaN,2020-12-24
2580,440 GOLDSTAR,Used boat,2010.0,"Italy » Marche - Umbria » Ancona, Marche","Air Conditioning,Autopilot,Bow Thruster,Compas...","EUR 249.000,-",Motor Yacht,Cantieri Estensi power boats,NaN,NaN,13.65,4.25,1.20,NaN,NaN,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Iveco FPT,2 x 450 HP / 331 kW,NaN,NaN,500.0,NaN,NaN,2020-08-01
2575,440 GOLDSTAR,Used boat,2010.0,"Italy » Marche - Umbria » Ancona, Marche","Air Conditioning,Autopilot,Bow Thruster,Compas...","EUR 249.000,-",Motor Yacht,Cantieri Estensi power boats,NaN,NaN,13.65,4.25,1.20,NaN,NaN,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Iveco FPT,2 x 450 HP / 331 kW,NaN,NaN,500.0,NaN,NaN,2020-02-19
82,465 Trader,new boat from stock,2019.0,Denmark » Svendborg,NaN,"DKK 89.000,-",Sport Boat,Crescent power boats,NaN,NaN,4.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yamaha F25GETL,1 x 25 HP / 18 kW,NaN,NaN,NaN,NaN,NaN,2020-03-04
5146,465 Trader,new boat from stock,2019.0,Denmark » Svendborg,NaN,"DKK 52.000,-",Sport Boat,Crescent power boats,NaN,NaN,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-07-05

The first 4 lines are duplicated, they represents the same boat. However in this database the price is changing. Keep in mind that in some database all values of features could change / evolve.

Given the fact that we are trying to predict the price of boats given their characteristics, we could take the most recent price, we could take a random price within the existing ones, here, we will use the average price.

The problem is that the `Price` is not in the same currency and it is not in a numerical features so we need to transform it.

In [33]:
train_val['Price'].unique()

array(['EUR 3.490,-', 'DKK 25.900,-', 'EUR 3.399,-', ..., 'EUR 4.516,-',
       'EUR 4.499,-', 'CHF 3.780,-'], dtype=object)

In [34]:
# First, delete the price having the value `Price on request`
train_val = train_val[train_val['Price'] != 'Price on request']

In [35]:
# Create a conversion table
create_change = {'Currency_A': ['EUR', 'GBP', 'DKK', 'SEK', 'USD', 'CHF'], 
               'Currency_B': ['CHF', 'CHF', 'CHF', 'CHF', 'CHF', 'CHF'], 
               'Change': [1.05, 1.24, 0.14, 0.11, 0.92, 1]}

change = pd.DataFrame(data=create_change)
change

  Currency_A Currency_B  Change
0        EUR        CHF    1.05
1        GBP        CHF    1.24
2        DKK        CHF    0.14
3        SEK        CHF    0.11
4        USD        CHF    0.92
5        CHF        CHF    1.00

In [36]:
dict_change = dict(zip(change.iloc[:,0], change.iloc[:,2]))
dict_change

{'CHF': 1.0, 'DKK': 0.14, 'EUR': 1.05, 'GBP': 1.24, 'SEK': 0.11, 'USD': 0.92}

In [37]:
data_part = train_val['Price'].str.partition(' ')         # exemple : EUR 3.490,-  -> ('EUR', ' ', '3.490,-')
    
    # Replace '£' by 'GBP' for the change dictionnary
data_part[0] = data_part[0].str.replace('£', 'GBP')          # data_part[0] = first column of the DataFrame who save the first value of the tuples
    
    # delete '.' who split the thousand in the price      
data_part[2] = data_part[2].str.replace('.', '')             # data_part[2] = third column of the DataFrame who save the first value of the tuples
    
    # delete ',-' to get the price
data_part[2] = data_part[2].str.replace(',-', '')
    
    # Convert the column in float in order to do the comparison
data_part[2] = data_part[2].astype(float, errors = 'raise')
    
    # price conversion
new_price = data_part.apply(lambda x: dict_change[x[0]] * x[2], axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  import sys

In [38]:
new_price = pd.DataFrame(new_price, columns=['Price_CHF'])
#new_price.rename(columns = {'0':'Price_CHF'}, inplace = True)
train_val = new_price.merge(train_val,left_index=True, right_index=True)

In [39]:
train_val.head(2)

,Price_CHF,Price,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length (m),Width (m),Depth (m),CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap (l),Holding Tank (l),Propulsion,Engine,Engine Performance,Fuel Capacity (l),Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Equipment,Advertisement Date
0,3664.5,"EUR 3.490,-",Center console boat,Terhi power boats,400 C,NaN,new boat from stock,2020.0,new,4.0,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Thermoplastic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » Bönningstedt,NaN,2020-08-19
1,3626.0,"DKK 25.900,-",Sport Boat,Pioner power boats,10 Classic Special Edition,NaN,new boat from stock,2020.0,NaN,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,NaN,2020-08-01